<div id="page-title">
    <h2>Home</h2>
    <p></p>
</div>

<header>
    <div class="panel">
        <div class="panel-body">
            <ul class="pager mrg0A">
                <li class="next navbtn" ui-sref="index.regular({ crmId: record.crmId })"><a href="#">Start a
                    Regular Job &rarr;</a></li>
            </ul>
        </div>
    </div>
</header>

    <div class="row">
        <div class="col-md-3">
            <div class="content-box mrg15B">
                <h3 class="content-box-header clearfix">
                    Users
                    <small>(Sharing options)</small>
                    <div class="font-size-16 float-right">
                        <a href="#" title="">
                            <i class="glyph-icon mrg5R opacity-hover icon-typicons-user-add"></i>
                        </a>
                    </div>
                </h3>
                <div class="content-box-wrapper nav-list clearfix">
                    <div class="list-group">
                        <a href="#" class="list-group-item" title="">
                            <i class="glyph-icon icon-circle-o float-left font-green mrg5L"></i>
                            Grant
                            <div class="float-right col-md-3 pad0A">
                                <i class="glyph-icon icon-edit btn btn-xs hover-orange opacity-hover"></i>
                                <i class="glyph-icon icon-remove btn btn-xs hover-red opacity-hover"></i>
                            </div>
                        </a>
                        <a href="#" class="list-group-item" title="">
                            <i class="glyph-icon icon-circle-o float-left font-gray mrg5L"></i>
                            Ravin
                            <div class="float-right col-md-3 pad0A">
                                <i class="glyph-icon icon-edit btn btn-xs hover-orange opacity-hover"></i>
                                <i class="glyph-icon icon-remove btn btn-xs hover-red opacity-hover"></i>
                            </div>
                        </a>
                        <a href="#" class="list-group-item" title="">
                            <i class="glyph-icon icon-circle-o float-left font-red mrg5L"></i>
                            Richard
                            <div class="float-right col-md-3 pad0A">
                                <i class="glyph-icon icon-edit btn btn-xs hover-orange opacity-hover"></i>
                                <i class="glyph-icon icon-remove btn btn-xs hover-red opacity-hover"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-box content-box">
                <div class="panel-content image-box bg-panel-img">
                    <div class="ribbon">
                        <div class="bg-primary">Quote</div>
                    </div>
                    <div class="center-vertical">
                        <div class="meta-box center-content">
                            <h3 class="meta-heading">Alex Rosenberg</h3>
                            <p class="meta-desc">2/146 Newlands Road, Wellington - 6037</p>
                            <p class="meta-desc">Mob: 0221991277</p>
                        </div>
                    </div>
                </div>
                <div class="content-box-header clearfix bg-default">

                    <div class="clear pad10T">
                        <ul class="nav nav-pills nav-justified">
                            <li>
                                <a href="#" class="btn btn-sm bg-google">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-refresh"></i>
                                </span>
                                    <span class="button-content">
                                    Clear & Reset
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-sm bg-facebook">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-upload"></i>
                                </span>
                                    <span class="button-content">
                                    Load Inputs
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-sm bg-twitter">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-plug"></i>
                                </span>
                                    <span class="button-content">
                                    Compare Related
                                </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <ul class="list-group list-group-separator row list-group-icons">

                    <li class="col-md-6">
                        <a href="#" class="list-group-item">
                            <i class="glyph-icon font-orange icon-linecons-shop"></i>
                            Regular
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="#" class="list-group-item">
                            <i class="glyph-icon font-orange icon-linecons-globe"></i>
                            Custom
                        </a>
                    </li>
                </ul>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        Select Components
                    </h3>






                    <a ng-repeat="(key, item) in regularJobSteps" class="list-group-item" title="{{item.title}}">
                        <span class="bs-badge badge-blue-alt float-left mrg15R">{{key+1}}</span>
                        {{item.title}} - {{item.data.listOrder}}
                        <div class="float-right col-md-2 pad0A">
                            <i ng-click="remove(item)" ng-class="getIsValidClass(item.valid)"></i>
                        </div>
                    </a>



                    <div class="example-box-wrapper">
                        <ul class="list-group row">
                            <li ng-repeat="(key, item) in regularJobSteps" class="col-md-3 mrg10T">
                                <a href="#" class="list-group-item">
                                    <i class="bs-badge badge-blue-alt float-left mrg15R">{{key+1}}</i>
                                    {{item.title}}
                                    <i class="glyph-icon icon-chevron-right"></i>
                                </a>
                            </li>
                            <li class="col-md-3">
                                <a href="#" class="list-group-item disabled">
                                    <i class="glyph-icon font-blue-alt icon-globe"></i>
                                    Disabled link
                                    <i class="glyph-icon icon-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer>
    <div class="panel">
        <div class="panel-body">
            <ul class="pager mrg0A">
                <li class="next navbtn" ui-sref="index.regular({ crmId: record.crmId })"><a href="#">Start a
                    Regular Job &rarr;</a></li>
            </ul>
        </div>
    </div>
</footer>