<div id="page-sidebar">
    <div class="scroll-sidebar">

            <div id="sidebar-menu" class="content-box-wrapper nav-list clearfix pad10T">
                <div class="list-group mrg20T mrg20B">
                    <div class="header">Overview</div>
                    <a ui-sref-active="menu-active" ui-sref="index.home({ crmId: record.crmId })" class="list-group-item" title="Home">
                        <span class="glyph-icon icon-iconic-home float-left font-blue-alt font-size-18 mrg15R" style="margin-top:-4px"></span>
                        Home
                    </a>
                </div>

                <div ng-if="multiStepFormInstance.steps" class="list-group mrg25T mrg10B">
                    <div class="header">{{record.jobType}} Job</div>
                    <a ng-repeat="(key, item) in multiStepFormInstance.steps" ng-href="{{record.crmId}}/regular?step={{key+1}}" ng-class="getMenuItemClass(record.crmId+'/regular?step='+(key+1))" class="list-group-item" title="{{item.title}}">
                        <span class="bs-badge badge-blue-alt float-left mrg15R">{{key+1}}</span>
                        {{item.title}}
                        <div class="float-right col-md-2 pad0A">
                            <i ng-class="getIsValidClass(item.valid)"></i>
                        </div>
                    </a>
                </div>
            </div>

    </div>
</div>